<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:fragment="layout (template)">
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <title>Custom Blog Demo</title>
</head>

<body>
<div class="wrapper">
    <div class="container">
        <header>
            <div class="banner">
                <p class="banner-text">
                    Awesome Blog!<br>
                    About Great stuff! <br>
                    For incredible people!
                </p>
                <img class="logo"
                     src="/img/logo.png"
                     alt="Blog logo">
            </div>
            <nav class="main-nav">
                <ul class="list-horizontal">
                    <li>
                        <a class="btn btn-full btn-selected" href="#" th:href="@{/articles}">
                            Main Page
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-full " href="#" th:href="@{/articles/random}">Random article</a>
                    </li>
                    <li>
                        <a class="btn btn-full " href="#" th:href="@{/articles/browse}">Browse articles</a>
                    </li>
                    <li>
                        <a class="btn btn-full " href="#" th:href="@{/users}">Users</a>
                    </li>
                </ul>
                <ul class="list-horizontal">
                    <li>
                        <a class="btn btn-full " href="#" th:href="@{/503}">Statistics</a>
                    </li>
                    <li>
                        <a class="btn btn-full " href="#" th:href="@{/about}">About</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="layout">
            <div class="content" th:insert="${template}"></div>
            <aside class="sidebar">
                <section class="search-simple">
                    <form method="get" action="#" th:action="@{/503}" class="search-form-simple">
                        <input type="text" name="searchedPhrase" placeholder="Type searched phrase..."/>
                        <input type="submit" value="Search!"/>
                    </form>
                </section>
                <section class="user-panel">
                    <h3>User panel:</h3>
                    <div class="user-panel-container">
                        <img src="/img/user-placeholder-2.jpg">
                        <div class="user" sec:authorize="isAuthenticated()">
                            <div>
                                <p>Logged as:</p>
                                <p sec:authentication="name">Nathaniel Mccoy</p>
                            </div>
                            <div>
                                <p>Access level:</p>
                                <p sec:authentication="principal.authorities">Administrator</p>
                            </div>
                        </div>
                        <div class="actions" sec:authorize="isAuthenticated()">
                            <div class="user-actions">
                                <a class="btn btn-full" href="#" th:href="@{/users/1/editor}">User-page</a>
                                <form method="post" action="/#" th:action="@{/logout}">
                                    <input type="submit" value="Log out">
                                </form>
                            </div>
                            <div class="administration-actions" sec:authorize="hasAnyRole('ROLE_WRITER', 'ROLE_ADMIN')">
                                <span>Article:</span>
                                <a class="btn btn-ghost" href="#" th:href="@{/articles/new}">New</a>
                                <a class="btn btn-ghost" href="#" th:if="${article} != null"
                                   th:href="@{/articles/edit(id=${article.id})}">
                                    Edit
                                </a>
                                <a class="btn btn-ghost" href="#" th:if="${article} != null"
                                   th:href="@{/articles/delete(id=${article.id})}">
                                    Del
                                </a>
                            </div>
                            <div class="administration-actions" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                <span>User:</span>
                                <a class="btn btn-ghost" href="#" th:href="@{/users/new}">New</a>
                                <a class="btn btn-ghost" href="#" th:href="@{/503}">Edit</a>
                                <a class="btn btn-ghost" href="#" th:href="@{/503}">Del</a>
                            </div>
                        </div>
                        <div class="actions" sec:authorize="isAuthenticated() == false">
                            <form th:action="@{/authenticateUser}" method="post">
                                <input type="text" name="username" placeholder="username">
                                <input type="password" name="password" placeholder="password">
                                <input type="submit" value="LogIn">
                            </form>
                            <a href="#" th:href="@{/503}">Register new account.</a>
                        </div>
                    </div>
                </section>
                <section class="latest-articles">
                    <h3>Latest articles:</h3>
                    <ul class="list-vertical">
                        <li>
                            <img class="small-image" src="/img/beanstalk.png" alt="Article's small image">
                            <div class="article-shortcut">
                                <a href="#" th:href="@{/articles/1}">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                                </a>
                                <p class="metadata">
                                    13 July 2020
                                </p>
                            </div>
                        </li>
                        <li>
                            <img class="small-image" src="/img/beanstalk.png" alt="Article's small image">
                            <div class="article-shortcut">
                                <a href="#" th:href="@{/articles/1}">
                                    Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                    inventore veritatis.
                                </a>
                                <p class="metadata">
                                    11 July 2020
                                </p>
                            </div>
                        </li>
                        <li>
                            <img class="small-image" src="/img/beanstalk.png" alt="Article's small image">
                            <div class="article-shortcut">
                                <a href="#" th:href="@{/articles/1}">
                                    Nemo enim ipsam voluptatem quia voluptas.
                                </a>
                                <p class="metadata">
                                    09 July 2020
                                </p>
                            </div>
                        </li>
                        <li>
                            <img class="small-image" src="/img/beanstalk.png" alt="Article's small image">
                            <div class="article-shortcut">
                                <a href="#" th:href="@{/articles/1}">
                                    Sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                </a>
                                <p class="metadata">
                                    05 July 2020
                                </p>
                            </div>
                        </li>
                        <li>
                            <img class="small-image" src="/img/beanstalk.png" alt="Article's small image">
                            <div class="article-shortcut">
                                <a href="#" th:href="@{/articles/1}">
                                    Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
                                </a>
                                <p class="metadata">
                                    01 July 2020
                                </p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="latest-comments">
                    <h3>Latest comments:</h3>
                    <ul class="list-vertical">
                        <li>
                            <div class="comment-shortcut">
                                <a href="#" th:href="@{/users/1}">Vivan</a> in:
                                <a href="#" th:href="@{/articles/1}"> "Qui dolorem ipsum quia dolor sit amet,
                                    consectetur, adipisci."</a>
                            </div>
                        </li>
                        <li>
                            <div class="comment-shortcut">
                                <a href="#" th:href="@{/users/1}">Becky</a> in:
                                <a href="#" th:href="@{/articles/1}"> "Sed quia non numquam eius modi tempora incidunt
                                    ut labore et dolore magnam
                                    aliquam quaerat voluptatem."</a>
                            </div>
                        </li>
                        <li>
                            <div class="comment-shortcut">
                                <a href="#" th:href="@{/users/1}">Maurice </a> in:
                                <a href="#" th:href="@{/articles/1}"> "Ut enim ad minima veniam, quis nostrum
                                    exercitationem ullam corporis
                                    suscipit."</a>
                            </div>
                        </li>
                        <li>
                            <div class="comment-shortcut">
                                <a href="#" th:href="@{/users/1}">Susan </a> in:
                                <a href="#" th:href="@{/articles/1}"> "Laboriosam, nisi ut aliquid ex ea commodi
                                    consequatur?"</a>
                            </div>
                        </li>
                        <li>
                            <div class="comment-shortcut">
                                <a href="#" th:href="@{/users/1}">Sonia </a> in:
                                <a href="#" th:href="@{/articles/1}"> "Quis autem vel eum iure reprehenderit qui in ea
                                    voluptate velit esse quam
                                    nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
                                    pariatur?"</a>
                            </div>
                        </li>
                        <li>
                            <div class="comment-shortcut">
                                <a href="#" th:href="@{/users/1}">Angel </a> in:
                                <a href="#" th:href="@{/articles/1}"> "At vero eos et accusamus et iusto odio
                                    dignissimos ducimus qui blanditiis
                                    praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias."</a>
                            </div>
                        </li>
                        <li>
                            <div class="comment-shortcut">
                                <a href="#" th:href="@{/users/1}">Peter </a> in:
                                <a href="#" th:href="@{/articles/1}"> "Excepturi sint occaecati cupiditate non
                                    provident."</a>
                            </div>
                        </li>
                        <li>
                            <div class="comment-shortcut">
                                <a href="#" th:href="@{/users/1}">Cindy </a> in:
                                <a href="#" th:href="@{/articles/1}"> "Similique sunt in culpa qui officia deserunt
                                    mollitia animi, id est
                                    laborum et dolorum fuga."</a>
                            </div>
                        </li>
                        <li>
                            <div class="comment-shortcut">
                                <a href="#" th:href="@{/users/1}">Darryl </a> in:
                                <a href="#" th:href="@{/articles/1}"> " Et harum quidem rerum facilis est et expedita
                                    distinctio."</a>
                            </div>
                        </li>
                        <li>
                            <div class="comment-shortcut">
                                <a href="#" th:href="@{/users/1}">Kim </a> in:
                                <a href="#" th:href="@{/articles/1}"> "Nam libero tempore, cum soluta nobis est eligendi
                                    optio cumque nihil
                                    impedit quo minus id quod maxime placeat facere."</a>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="tag-container">
                    <h3>Tag-list: </h3>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Lorem ipsum</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Dolor sit amet</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Consectetuer</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Adipiscing elit</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Aenean commodo</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Ligula </a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Eget dolor</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Aenean massa</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Cum sociis natoque</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Penatibus </a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Et magnis dis</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Parturient</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Montes, nascetur ridiculus mus</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Donec quam felis</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Ultricies nec</a>
                    <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Pellentesque eu</a>
                </section>
            </aside>
        </div>
    </div>
    <footer>
        <p>
            © Copyright 2020, All Rights Reserved. Enqs.
        </p>
    </footer>
</div>
</body>