<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout :: layout (~{::content})}">
<body>
<div th:fragment="content">
    <div class="user-container">
        <h3>
            <span>User administration:</span>
            <form method="post" action="/#" th:action="@{/logout}">
                <input type="submit" value="Log out">
            </form>
        </h3>
        <div class="user-details">
            <img src="/img/user-placeholder-0.jpg">
            <div th:replace="~{/users/user-details :: user-data}"></div>
            <div th:replace="~{/users/user-editor :: user-edit-form}"></div>
        </div>
    </div>
</div>
</body>
