<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{common/layout :: layout (~{::content})}">

<body>
<div th:fragment="content">
    <div class="user-container">
        <h3>
            <span>User administration:</span>
        </h3>
        <div class="user-details">
            <img src="/img/user-placeholder-0.jpg">
            <form th:fragment="user-edit-form" class="edit-user-form" method="post" th:object="${user}" action="#"
                  th:action="@{/users/save}">

                <input type="hidden" th:field="*{id}"/>

                <div class="edited-data">
                    <label for="user-nick">Nick: </label>
                    <input type="text" id="user-nick" th:field="*{nick}">
                </div>
                <div class="edited-data">
                    <label for="user-firstname">First name: </label>
                    <input type="text" id="user-firstname" th:field="*{firstName}">
                </div>
                <div class="edited-data">
                    <label for="user-lastname">Last name: </label>
                    <input type="text" id="user-lastname" th:field="*{lastName}">
                </div>
                <div class="edited-data">
                    <label for="user-username">Username: </label>
                    <input type="text" id="user-username" th:field="*{username}" th:required="required">
                </div>
                <div class="edited-data">
                    <label for="user-password">Password: </label>
                    <input type="password" id="user-password" th:field="*{password}" th:required="required">
                </div>
                <div class="edited-data" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <label for="user-role">Role: </label>
                    <select id="user-role" th:field="*{role}" >
                        <!--ToDo: Error proof this by listing possibilities downloaded from main program -->
                        <option value="ROLE_SUSPENDED">Suspended</option>
                        <option value="ROLE_USER" selected>User</option>
                        <option value="ROLE_WRITER">Writer</option>
                        <option value="ROLE_MODERATOR">Moderator</option>
                        <option value="ROLE_ADMIN">Admin</option>
                    </select>
                </div>
                <input type="submit" th:value="(*{id} != 0)? 'Save' : 'Register'">
            </form>
        </div>
    </div>
</div>
</body>
