<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{common/layout :: layout (~{::content})}">

<body>
<div th:fragment="content">
    <div class="user-container">
        <h3>
            <span>User administration:</span>
            <a class="btn btn-full" href="#" th:href="@{/503}">Log out</a>
        </h3>
        <div class="user-details">
            <img src="/img/user-placeholder-1.jpg">
            <div class="user-data">
                <div class="user-information">
                    <div class="user-information-name">Nick:</div>
                    <div class="user-information-value">Anita93</div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">First name:</div>
                    <div class="user-information-value">Tina</div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">Last name:</div>
                    <div class="user-information-value">Rhodes</div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">Role:</div>
                    <div class="user-information-value">Writer</div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">Registered:</div>
                    <div class="user-information-value">28 October 2010</div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">Comments:</div>
                    <div class="user-information-value">128</div>
                </div>
            </div>
            <form class="edit-user-form" method="post" th:object="${editedUser}" action="#" th:action="@{/users/save}">
                <div class="edited-data">
                    <label for="user-nick">Nick: </label>
                    <input type="text" id="user-nick" th:field="*{nick}">
                </div>
                <div class="edited-data">
                    <label for="user-firstname">First name: </label>
                    <input type="text" id="user-firstname" th:field="*{firstName}">
                </div>
                <div class="edited-data">
                    <label for="user-lastname">Last name: </label>
                    <input type="text" id="user-lastname" th:field="*{lastName}">
                </div>
                <div class="edited-data">
                    <label for="user-username">Username: </label>
                    <input type="text" id="user-username" th:field="*{username}" th:required="required">
                </div>
                <div class="edited-data">
                    <label for="user-password">Password: </label>
                    <input type="password" id="user-password" th:field="*{password}" th:required="required">
                </div>
                <div class="edited-data">
                    <label for="user-role">Role: </label>
                    <select id="user-role" th:field="*{role}" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <!--ToDo: Error proof this by listing possibilities downloaded from main program -->
                        <option value="ROLE_SUSPENDED">Suspended</option>
                        <option value="ROLE_USER" selected>User</option>
                        <option value="ROLE_WRITER">Writer</option>
                        <option value="ROLE_MODERATOR">Moderator</option>
                        <option value="ROLE_ADMIN">Admin</option>
                    </select>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>
</body>
