<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout (~{::content})}">
<body>
<div th:fragment="content">
    <div class="user-container">
        <h3>User info:</h3>
        <div class="user-details">
            <img src="/img/user-placeholder-0.jpg">
            <div th:fragment="user-data" class="user-data" th:object="${user}">
                <div class="user-information">
                    <div class="user-information-name">Nick:</div>
                    <div class="user-information-value" th:text="*{nick}?: *{username}"></div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">First name:</div>
                    <div class="user-information-value" th:text="*{firstName}"></div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">Last name:</div>
                    <div class="user-information-value" th:text="*{lastName}"></div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">Role:</div>
                    <div class="user-information-value" th:text="*{role}"></div>
                </div>
                <!--ToDo: Registration date-->
                <div class="user-information">
                    <div class="user-information-name">Registered:</div>
                    <div class="user-information-value"> October 2010</div>
                </div>
                <!--ToDo: Comments counter-->
                <div class="user-information">
                    <div class="user-information-name">Comments:</div>
                    <div class="user-information-value">42</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
