<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout (~{::content})}">

<body>
<div th:fragment="content">
    <div class="about">
        <div class="author-container">
            <h3>Author:</h3>
            <div class="author">
                <img src="/img/enqs.png">
                <table>
                    <tr>
                        <td>Nick:</td>
                        <td>enqs</td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>Andrzej</td>
                    </tr>
                    <tr>
                        <td>Surname:</td>
                        <td>Węc</td>
                    </tr>
                    <tr>
                        <td>Linkedin:</td>
                        <td>
                            <a href="https://www.linkedin.com/in/andrzejwec/">
                                andrzejwec
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Github:</td>
                        <td>
                            <a href="https://github.com/enqs/">
                                enqs
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="site-description">
            <h3>Introduction:</h3>
            <p>
                I'm creating this blog's engine as a practical way of developing my programming skills.
            </p>
            <p>
                My main aim is to practice coding and learn new things on a semi real-live project. Content is Lorem
                ipsum, although I'm doing my best to keep the blog pleasing to the eye.
            </p>
            <p>
                The blog's source code is available at my GitHub repository.
            </p>
        </div>
    </div>
</div>
</body>
