<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout (~{::content})}">

<body>
<div th:fragment="content">
    <ul class="list-vertical">
        <li th:each="article: ${articles}">
            <a href="#" th:href="@{${'/articles/' + article.id}}" class="article-link">
                <div class="article-presentation">
                    <img src="/img/article-hero-placeholder.jpg" th:src="@{${article.imageSource}}">
                    <div class="article-data">
                        <h2 th:text="${article.tittle}"></h2>
                        <p class="metadata" th:text="${article.publishDate}"></p>
                        <p th:text="${article.description}"></p>
                        <p>
                            <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Lorem ipsum</a>
                            <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Dolor sit amet</a>
                            <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Consectetuer</a>
                            <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Adipiscing elit</a>
                            <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Aenean commodo</a>
                        </p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="pagination">
        <a class="btn-selected" href="#">1</a>
        <a href="#" th:href="@{/503}">2</a>
        <a href="#" th:href="@{/503}">3</a>
        <a href="#" th:href="@{/503}">4</a>
        <a href="#" th:href="@{/503}">5</a>
        <a href="#" th:href="@{/503}">6</a>
        <a href="#" th:href="@{/503}">7</a>
        <a href="#" th:href="@{/503}">8</a>
        <a href="#" th:href="@{/503}">9</a>
        &nbsp;
        <a href="#" th:href="@{/503}">+10</a>
        &nbsp;
        ...
        &nbsp;
        <a href="#" th:href="@{/503}">Last page &#187;</a>
    </div>
    <div class="pages">
        Page 1 of 300
    </div>
</div>
</body>