<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout (~{::content})}">
<body>
<div th:fragment="content">
    <div class="user-container">
        <h3>
            <span>User administration:</span>
            <a class="btn btn-full" href="#" th:href="@{/503}">Log out</a>
        </h3>
        <div class="user-details">
            <img src="/img/user-placeholder-1.jpg">
            <div class="user-data">
                <div class="user-information">
                    <div class="user-information-name">Nick:</div>
                    <div class="user-information-value">Anita93</div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">Name:</div>
                    <div class="user-information-value">Tina</div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">Surname:</div>
                    <div class="user-information-value">Rhodes</div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">Role:</div>
                    <div class="user-information-value">Writer</div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">Registered:</div>
                    <div class="user-information-value">28 October 2010</div>
                </div>
                <div class="user-information">
                    <div class="user-information-name">Comments:</div>
                    <div class="user-information-value">128</div>
                </div>
            </div>
            <form class="edit-user-form" method="get" action="#" th:action="@{/503}">
                <div class="edited-data">
                    <label for="user-nick">Nick: </label>
                    <input type="text" name="user-nick" id="user-nick" placeholder="Anita93">
                </div>
                <div class="edited-data">
                    <label for="user-name">Name: </label>
                    <input type="text" name="user-name" id="user-name" placeholder="Tina">
                </div>
                <div class="edited-data">
                    <label for="user-surname">Surname: </label>
                    <input type="text" name="user-surname" id="user-surname" placeholder="Rhodes">
                </div>
                <div class="edited-data">
                    <label for="user-login">Login: </label>
                    <input type="text" name="user-login" id="user-login" placeholder="TiRho">
                </div>
                <div class="edited-data">
                    <label for="user-password">Password: </label>
                    <input type="password" name="user-password" id="user-password" placeholder="******">
                </div>
                <div class="edited-data">
                    <label for="user-role">Role: </label>
                    <select name="user-role" id="user-role">
                        <option value="suspended">Suspended</option>
                        <option value="user" selected>User</option>
                        <option value="writer">Writer</option>
                        <option value="moderator">Moderator</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <input type="submit" value="Save changes">
            </form>
        </div>
    </div>
</div>
</body>
