<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout (~{::content})}">

<body>
<div th:fragment="content">
    <div class="article-header">
        <img class="article-hero" src="/img/article-hero-placeholder.jpg" th:src="@{${article.imageSource}}">
        <div class="article-introduction">
            <div class="article-tags">
                <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Ligula </a>
                <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Ultricies nec</a>
                <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Consectetuer</a>
            </div>
            <h1 th:text="${article.tittle}"></h1>
            <p class="metadata">
                <span class="article-author">Author: Gal Anonymous</span>
                <span class="article-date" th:text="${article.publishDate}"></span>
                <span class="article-comments-count">Comments: 11</span>
            </p>
            <p class="article-introduction_text" th:text="${article.description}"></p>
        </div>
    </div>
    <div class="article-body" th:utext="${article.content}"></div>
    <div class="similar-articles">
        <h3>See also:</h3>
        <div class="articles-gallery">
            <div class="related-article">
                <a href="#" th:href="@{/503}">
                    <img src="/img/beanstalk.png">
                    <h4>Curabitur at lacus ac velit ornare lobortis.</h4>
                    <div class="metadata">
                        05 November 2020
                    </div>
                </a>
            </div>
            <div class="related-article">
                <a href="#" th:href="@{/503}">
                    <img src="/img/beanstalk.png">
                    <h4>Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis
                        nunc et lorem</h4>
                    <div class="metadata">
                        13 August 2020
                    </div>
                </a>
            </div>
            <div class="related-article">
                <a href="#" th:href="@{/503}">
                    <img src="/img/beanstalk.png">
                    <h4> Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus</h4>
                    <div class="metadata">
                        26 March 2020
                    </div>
                </a>
            </div>
            <div class="related-article">
                <a href="#" th:href="@{/503}">
                    <img src="/img/beanstalk.png">
                    <h4> Fusce id purus. Ut varius tincidunt libero.</h4>
                    <div class="metadata">
                        14 February 2020
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="comments">
        <h3>Comments:</h3>
        <ul class="list-vertical">
            <li>
                <div class="comment-data">
                    <img class="align-left" src="/img/user-placeholder-1.jpg">
                    <h5>Tina Rhodes</h5>
                    <div class="metadata">
                        09 September 2020 at 21:21
                    </div>
                </div>
                <div class="comment-text">
                    <p>
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
                        mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
                        eleifend tellus.
                    </p>
                </div>
            </li>
            <li>
                <div class="comment-data">
                    <img class="align-left" src="/img/user-placeholder-2.jpg">
                    <h5>Nathaniel Mccoy</h5>
                    <div class="metadata">
                        09 September 2020 at 15:30
                    </div>
                </div>
                <div class="comment-text">
                    <p>
                        Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse
                        pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede
                        quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis
                        diam. Pellentesque ut neque. Pellentesque habitant morbi tristique senectus et netus et
                        malesuada fames ac turpis egestas.
                    </p>
                </div>
            </li>
            <li>
                <div class="comment-data">
                    <img class="align-left" src="/img/user-placeholder-3.jpg">
                    <h5>Raul Johnson</h5>
                    <div class="metadata">
                        09 September 2020 at 08:54
                    </div>
                </div>
                <div class="comment-text">
                    <p>
                        Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
                    </p>
                </div>
            </li>
            <li>
                <div class="comment-data">
                    <img class="align-left" src="/img/user-placeholder-4.jpg">
                    <h5>Emma Mitchelle</h5>
                    <div class="metadata">
                        08 September 2020 at 19:07
                    </div>
                </div>
                <div class="comment-text">
                    <p>
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed
                        aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci.
                        Phasellus consectetuer vestibulum elit.
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="leave-a-reply">
        <h3>Leave a reply:</h3>
        <form method="get" action="#" th:action="@{/503}" class="reply-form">
            <p>Your name:</p>
            <input type="text" name="author" size="30" placeholder="How to call you?">
            <p>Comment:</p>
            <textarea name="comment" cols="100" rows="5" placeholder="Type your reply here..."></textarea>
            <input type="submit" value="Post comment!"/>
        </form>
    </div>
</div>
</body>