<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout (~{::content})}">

<body>
<div th:fragment="content">
    <div class="article-header">
        <img class="article-hero" src="/img/article-hero-placeholder.jpg">
        <div class="article-introduction">
            <div class="article-tags">
                <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Ligula </a>
                <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Ultricies nec</a>
                <a href="#" th:href="@{/503}" class="btn btn-ghost tag">#Consectetuer</a>
            </div>
            <h1>
                Curabitur ullamcorper ultricies nisi.
            </h1>
            <p class="metadata">
                <span class="article-author">Author: Gal Anonymous</span>
                <span class="article-date"> 08 September 2020 </span>
                <span class="article-comments-count">Comments: 11</span>
            </p>
            <p class="article-introduction_text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
        </div>
    </div>
    <div class="article-body">

        <h2>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut
            lacus.</h2>

        <p>
            <img width="250px" class="align-right" src="/img/image-placeholder-2.jpg">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
            justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
            nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
            laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
            nisi
        </p>
        <p>Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit
            amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
            hendrerit id, lorem.
            Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis
            ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec
            sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida
            magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed,
            nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer
            lacinia.</p>

        <h2>Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi.</h2>

        <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum.
            <img width="250px" class="align-left" src="/img/image-placeholder-1.jpg">
            Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent
            adipiscing.Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero.
            Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id,
            imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque
            facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et,
            hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo.
            Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate
            arcu.</p>

        <h2>Praesent nonummy mi in odio. Nunc interdum lacus sit amet orci</h2>

        <p>Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus
            quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis
            non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis.
            Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis
            lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse
            pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis
            nunc.</p>
        <ul>
            <li>Praesent blandit laoreet nibh.</li>
            <li>Nullam cursus lacinia erat</li>
            <li>Morbi ac felis.</li>
        </ul>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut
            varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis diam. Pellentesque ut neque.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna,
            posuere eget, vestibulum et, tempor auctor, justo. In ac felis quis tortor malesuada pretium. Pellentesque
            auctor neque nec urna. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Aenean viverra rhoncus
            pede. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut non
            enim eleifend felis pretium feugiat. Vivamus quis mi. Phasellus a est. Phasellus magna. In hac habitasse
            platea dictumst. Curabitur at lacus ac velit ornare lobortis. Curabitur a felis in nunc fringilla
            tristique.</p>

        <h2>Curabitur vestibulum aliquam leo. Praesent egestas neque eu enim.</h2>

        <p>
            <img width="100%" class="align-left" src="/img/image-placeholder-3.jpg">
            In hac habitasse platea dictumst. Fusce a quam. Etiam ut purus mattis mauris sodales aliquam. Curabitur
            nisi. Quisque malesuada placerat nisl. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus.
            Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Vestibulum facilisis, purus nec
            pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Mauris sollicitudin fermentum
            libero. Praesent nonummy mi in odio. Nunc interdum lacus sit amet orci. Vestibulum rutrum, mi nec elementum
            vehicula, eros quam gravida nisl, id fringilla neque ante vel mi. Morbi mollis tellus ac sapien. Phasellus
            volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Fusce vel
            dui. Sed in libero ut nibh placerat accumsan. Proin faucibus arcu quis ante. In consectetuer turpis ut
            velit. Nulla sit amet est. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Cras risus
            ipsum, faucibus ut, ullamcorper id, varius ac, leo. Suspendisse feugiat. Suspendisse enim turpis, dictum
            sed, iaculis a, condimentum nec, nisi. Praesent nec nisl a purus blandit viverra. Praesent ac massa at
            ligula laoreet iaculis. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Mauris turpis
            nunc, blandit et, volutpat molestie, porta ut, ligula.
        </p>
    </div>
    <div class="similar-articles">
        <h3>See also:</h3>
        <div class="articles-gallery">
            <div class="related-article">
                <a href="#" th:href="@{/503}">
                    <img src="/img/beanstalk.png">
                    <h4>Curabitur at lacus ac velit ornare lobortis.</h4>
                    <div class="metadata">
                        05 November 2020
                    </div>
                </a>
            </div>
            <div class="related-article">
                <a href="#" th:href="@{/503}">
                    <img src="/img/beanstalk.png">
                    <h4>Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis
                        nunc et lorem</h4>
                    <div class="metadata">
                        13 August 2020
                    </div>
                </a>
            </div>
            <div class="related-article">
                <a href="#" th:href="@{/503}">
                    <img src="/img/beanstalk.png">
                    <h4> Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus</h4>
                    <div class="metadata">
                        26 March 2020
                    </div>
                </a>
            </div>
            <div class="related-article">
                <a href="#" th:href="@{/503}">
                    <img src="/img/beanstalk.png">
                    <h4> Fusce id purus. Ut varius tincidunt libero.</h4>
                    <div class="metadata">
                        14 February 2020
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="comments">
        <h3>Comments:</h3>
        <ul class="list-vertical">
            <li>
                <div class="comment-data">
                    <img class="align-left" src="/img/user-placeholder-1.jpg">
                    <h5>Tina Rhodes</h5>
                    <div class="metadata">
                        09 September 2020 at 21:21
                    </div>
                </div>
                <div class="comment-text">
                    <p>
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
                        mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
                        eleifend tellus.
                    </p>
                </div>
            </li>
            <li>
                <div class="comment-data">
                    <img class="align-left" src="/img/user-placeholder-2.jpg">
                    <h5>Nathaniel Mccoy</h5>
                    <div class="metadata">
                        09 September 2020 at 15:30
                    </div>
                </div>
                <div class="comment-text">
                    <p>
                        Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse
                        pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede
                        quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis
                        diam. Pellentesque ut neque. Pellentesque habitant morbi tristique senectus et netus et
                        malesuada fames ac turpis egestas.
                    </p>
                </div>
            </li>
            <li>
                <div class="comment-data">
                    <img class="align-left" src="/img/user-placeholder-3.jpg">
                    <h5>Raul Johnson</h5>
                    <div class="metadata">
                        09 September 2020 at 08:54
                    </div>
                </div>
                <div class="comment-text">
                    <p>
                        Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
                    </p>
                </div>
            </li>
            <li>
                <div class="comment-data">
                    <img class="align-left" src="/img/user-placeholder-4.jpg">
                    <h5>Emma Mitchelle</h5>
                    <div class="metadata">
                        08 September 2020 at 19:07
                    </div>
                </div>
                <div class="comment-text">
                    <p>
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed
                        aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci.
                        Phasellus consectetuer vestibulum elit.
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="leave-a-reply">
        <h3>Leave a reply:</h3>
        <form method="get" action="#" th:action="@{/503}" class="reply-form">
            <p>Your name:</p>
            <input type="text" name="author" size="30" placeholder="How to call you?">
            <p>Comment:</p>
            <textarea name="comment" cols="100" rows="5" placeholder="Type your reply here..."></textarea>
            <input type="submit" value="Post comment!"/>
        </form>
    </div>
</div>
</body>